.display-container {
  border-radius: 8px;
  padding: 5px;
  margin-top: 15px;
  width: 240px;
  height: 60px;
  background-color: #ffffff;
}

.display-container__constructor {
  box-shadow: 3px 3px 10px 0 rgba(0, 0, 0, 0.2);
  filter: brightness(100%);
  transition: filter 0.3s ease;
}
.display-container__constructor:hover {
  filter: brightness(95%);
}

.display {
  background-color: #f1f1f1;
  padding: 10px;
  font-size: 24px;
  text-align: right;
  color: #333333;
  border-radius: 8px;
  height: 100%;
  box-sizing: border-box;
}