* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.app {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 50px;
  font-family: Arial, sans-serif;
  background-color: #ffffff;
}

.layout {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  width: 100%;
  max-width: 500px;
}

.constructor-panel {
  /* border: 1px dashed #ccc; */
  border-radius: 8px;
  padding: 20px;
  background-color: #ffffff;
  display: grid;
  grid-template-rows: auto 1fr;
  gap: 10px;
}



/* Адаптивность */
@media (max-width: 768px) {
  .layout {
    grid-template-columns: 1fr;
  }
}