.calculator-panel {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  border: 1px dashed #ccc;
  border-radius: 8px;
  padding: 20px;
  background-color: #ffffff;

  width: 280px;
  height: 552px;
  box-sizing: border-box;

  position: relative;
  min-height: 100px;
}

.calculator-panel:hover {
  background-color: #f0f8ff;
}

.calculator-panel-title {
  font-size: 18px;
  font-weight: 600;
  color: #4b6ef5;
}

.calculator-panel-subtitle {
  font-size: 14px;
  color: #888;
  margin-top: 10px;
}

.calculator-panel-filled {
  border-radius: 8px;
  padding: 20px;
  background-color: #ffffff;
  display: grid;
  grid-template-rows: auto 1fr;
  gap: 10px;
  width: 280px;
  height: 552px;
  box-sizing: border-box;
}

.hover {
  background-color: #e6f7ff;
}